
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap'); */

* {
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main-game{
    background-color: rgb(234, 11, 27);
    border-radius: 20px;
    width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; 

   
}
.setting{
    /* background-color:#ede2e2; */
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    padding: 20px;
}

.grid-contianer{
    
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.grid{
    
background-color: #ffffff;
border: 2px solid rgb(255, 255, 255);
height: 450px;
width: 450px;
display: grid;
gap: 0px;
border: none;
margin-left: 40px;

}

.grid-items{
   
border: solid 2px hwb(0 0% 100%);
background-color: #ffffff;

}

.panel{
    width: 50px;
    height: 50px;
  
}

.panel p{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 25px;
}
input[type="range"]{
    width: 100px;
    position: relative;
    top: -28px;
    left: 10px;

}
#valueBtn{
    width: 40px;
    height: 30px;
    font-size: 15px;
    position: relative;
    top: -40px;
    left: 40px;
    border-radius: 5px;

}


.eraser{
    position: relative;
    left: 35px;
    background-color: white;
    border-radius: 10px;

}
.eraser:hover{
    transform: scale(1.1);

}




.menu{

    width: 300px;
    height: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

button{
    font-size: 20px;
    font-family:"Josefin",sans-serif ;
    border: none;
    font-weight: 700;
    
}

button:hover{
    transform: scale(1.05) ;
    
}

.colorBtn{
    background-color: rgb(255, 255, 255); 
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    color: rgb(41, 39, 39);
    left:35px;
}

.clearBtn{
    background-color: rgb(255, 255, 255);
    position:relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    right:35px;
    color: rgb(41, 39, 39);

}

p{
    color: rgb(241, 236, 236);
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 30px;

}

